// Column oriented storage for the table '{{ table.name }}'.
struct {{ table.name }} {
    // A single row of the table '{{ table.name }}'.
    struct row_type {
{%- for column in table.columns %}
        {{ column.type | cpp_type }} {{ column.name }};
{%- endfor %}
    };
{% for column in table.columns %}
    std::vector<{{ column.type | cpp_type }}> {{ column.name }};
{%- endfor %}

    {{ table.name }}() = default;

    {{ table.name }}(const {{ table.name }}&) = delete;
    {{ table.name }}& operator=(const {{ table.name }}&) = delete;
    {{ table.name }}({{ table.name }}&&) = default;
    {{ table.name }}& operator=({{ table.name }}&&) = default;

    std::size_t size() const noexcept {
        return {{ table.columns[0].name }}.size();
    }

    void clear() noexcept {
{%- for column in table.columns %}
        {{ column.name }}.clear();
{%- endfor %}
    }

    void reserve(std::size_t n) {
{%- for column in table.columns %}
        {{ column.name }}.reserve(n);
{%- endfor %}
    }

    void push_back(const row_type& row) {
{%- for column in table.columns %}
        {{ column.name }}.push_back(row.{{ column.name }});
{%- endfor %}
    }

    void push_back(
{%- for column in table.columns %}
        const {{ column.type | cpp_type }}& {{ column.name }}_{% if not loop.last %},{% endif %}
{%- endfor %}) {
{%- for column in table.columns %}
        {{ column.name }}.push_back({{ column.name }}_);
{%- endfor %}
    }

    row_type operator[](std::size_t i) const {
        return row_type{
{%- for column in table.columns %}
            .{{ column.name }} = {{ column.name }}[i],
{%- endfor %}
        };
    }
};
